.leftSide{
    // background-color: #222;
    height: 100%;
}
.chartOne{
    background-color: #04151A;
    height: 600px;
    margin-left: 7%;
    margin-top: 150px;
}
.chartTwo{
    background-color: #04151A;
    height: 600px;
    margin-left: 7%;
    margin-top: 30px;
}
.rightSide{
    // background-color: #04151A;
    height: 100%;
}
.chartThree{
    background-color: #04151A;
    height: 600px;
    margin-right: 7%;
    margin-top: 150px;
}
.chartFour{
    background-color: #04151A;
    height: 600px;
    margin-right: 7%;
    margin-top: 30px;
}
