.leftSide{
    // background-color: #25343B;
    height: 100%;
}
.chartOne{
    background-color: #04151A;
    height: 600px;
    margin-left: 7%;
    margin-top: 150px;
    border-bottom-left-radius: 50px;
}
.chartOneTop{
    background-color:  #12303a;
    height: 60px;
    padding-top: 6px;
}
.seasonTop{
    font-family: work sans;
    color: #f2fcff;
    margin-left: 2%;
    letter-spacing: 2px;
}
.graphOne{
    height: 540px;
}
.chartTwo{
    background-color: #04151A;
    height: 600px;
    margin-left: 7%;
    margin-top: 30px;
    border-bottom-left-radius: 50px;
}
.rightSide{
    height: 100%;
}
.chartThree{
    background-color: #04151A;
    height: 600px;
    margin-right: 7%;
    margin-top: 150px;
    border-bottom-right-radius: 50px;
}
.chartFour{
    background-color: #04151A;
    height: 600px;
    margin-right: 7%;
    margin-top: 30px;
    border-bottom-right-radius: 50px;
}
.foot{
    height: 60px;
    background-color: #04151A;
    margin-top: 50px;
}
.byMe{
    color: #F0ED37;
    font-family: comfortaa;
    font-size: 2em;
    padding-top: 13px;
    padding-right: 3%;
    letter-spacing: 3px;
    float: right;
}

