.myNav{
    background-color: #04151A;
    height: 110px;
    border-bottom: solid #F0ED37 5px;
}
.navHeader{
    color: #F0ED37;
    font-family: comfortaa;
    padding-top: 3px;
    letter-spacing: 3px;
}
.logo{
    height: 80px;
    padding-left: 15%;
}